.header {
    position: fixed;
    background: #fff;
    z-index: 1;
    width: 100%;
    margin-left: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(98, 127, 172, 0.2);
}
.description_container {
    margin-left: 32px;
    display: flex;
    margin-top: 80px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.title {
    display: flex;
    align-items: center;
}
.home {
    margin-right: 30px;
    cursor: pointer;
}
.container {
    display: flex;
    position: relative;
    width: 100%;
    margin: -10px;
}
.poster {
    border-radius: 4px;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgba(98, 127, 172, 0.2);
}

.poster_container {
    margin-right: 16px;
}
.details {
    width: 100%;
}
.text {
    color: #4a4a4a;
    margin: 0 8px 0 0;
}
.vr {
    display: flex;
    align-items: center;
    height: 16px;
    width: 1px;
    margin-right: 4px;
    background: #4a4a4a;
}
.name {
    color: #4a4a4a;
    margin-left: 2px;
}
.cast {
    font-weight: 900;
    font-size: 18px;
}
.description {
    margin-top: 12px;
}
.heading {
    margin-left: 12px;
}
